@model List<Article>
<h1>Admin Area içerisindesin.</h1>
@foreach (var article in Model)
{
    <h1>@article.Title</h1>
    <br />
    <h1>adsasd</h1>
    <h3>@article.Content</h3>
    <br />
    <h3>@article.CreatedBy</h3>
    <br />

}